@import "~bootstrap/scss/bootstrap";
@import "vars";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

//
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

/**
 * we hide arrow on hover in-out side of input
 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

:focus {
  outline: -webkit-focus-ring-color auto 0 !important;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 3px;
}

html {
  font-size: $fontBody;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;

  body {
    background: url("../../static/images/backgrounds/starry-sky-background_640.jpg") round;
    height: 100%;

    #root {
      height: 100%;
    }
  }
}

p {
  margin-bottom: 1rem;
}

.app {
  max-width: $maxWidthScreen;
  margin: 0 auto;
  padding-top: 66px; //49 is height of menu + 17px
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.btn-flex-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: .5em;
    margin-right: .5em;
  }
}

.hidden {
  display: none;
}
