/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

$maxWidthScreen: 1200px;

$fontBody: 14px;
$fontSmall: 12px;

$heightCarousel: 500px;

$fontWeightBold: 700;
$fontWeightSemiBold: 700;

$colorGreenLoading: #4cd137;
$colorFF: #ffffff;
$colorBody: #212529;
$colorRedAlert: rgba(221, 17, 0, 0.96);